body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 40px;
    text-align: left;
}
p{
color: dimgrey;
font-size:16px;
font-family: 'Gafata', sans-serif;
}
.user-highlight{
    color:#FF8367;
    font-family: 'Gafata', sans-serif;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding:10px 20px;
    border: radius 10px;
    color: white;
    font-weight: 500;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.Working-project{
    text-align: center;

}
.user-working{
    color:#FF8367;
    font-family: 'Roboto', sans-serif;
}
.latest-working{
    box-shadow: 10px 10px 40px gray;
    border-radius: 1px;

}
.latest-working img{
    width:80%;
}