body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
h4{
    text-align: center;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 24px;
    text-align: left;
}
p{
color: dimgrey;
font-size:16px;
font-family: 'Gafata', sans-serif;
}
.user-highlight{
    color:#FF8367;
    font-family: 'Gafata', sans-serif;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding:10px 20px;
    border: radius 10px;
    color: white;
    font-weight: 500;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.Working-project{
    text-align: inherit;

}
.working{
    color:#FF8367;
    font-family: 'Roboto', sans-serif;
}
.latest-working{
    float:left;
    width: 20%;
    margin-left: 8% ;
    box-shadow: 10px 10px 40px gray;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}
.latest-working img{
    width: 230px;
}
.middle-banner{
    background-position: center;
    background-image: url(images/chatimages/chat.png);
    background-repeat: no-repeat;  
    background-size: 50%;
    height: 300px;
}
.chat-button{
    margin-left: 1200px;    
    background-color: tomato;
    color: white;
    padding: 10px 25px;
    text-align: center;
}
#inquiry-possion{
    color: white;
    text-align: center;
    padding-top: 185px;
    padding-right: 350px;
}
.site-footer{
    text-align: center;
}
.site-footer img{
    width: 50px;
}
#footer-stay{
    color: gray;
    font-size:20px
}
#footer-mail{
    font-size:30px;
    text-decoration: none;
    text-align: center;
}